build/*.js
mock/*.js

# 忽略src下指定目录所有文件
vue.config.js
src/assets
src/icons/*
src/vendor/*
*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile
/components.d.ts
src/auto-import.d.ts
